@import url(./__line/header__line.css);

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 45px;
    width: 68.9%;
    height: 74px;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 88.1%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 100%;
        height: 55px;
        padding-top: 29px;
    }
}