.popup__close-icon {
    background-image: url(../../../images/Close-icon.svg);  
    background-size: cover;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: none;
    position: absolute;
    top: -54px;
    right: -44px;
}

.popup__close-icon:hover {
    background-image: url(../../../images/Close-icon-focus.svg);
}

@media screen and (max-width: 580px) {
    .popup__close-icon{
        right: -7px;
    }
}

@media screen and (max-height: 430px) {
    .popup__close-icon{
        top: -12px;
        right: -52px;
    }
}