.popup__close-icon {
    background-image: url(../../../images/Close-icon.svg);  
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: none;
    position: absolute;
    top: -53px;
    right: -41px;
}

.popup__close-icon:hover {
    background-image: url(../../../images/Close-icon-focus.svg);
}

@media screen and (max-width: 580px) {
    .popup__close-icon{
        right: -7px;
    }
}