.popup__field {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    position: relative;
    width: 358px;
}

.popup__field:last-of-type {
    margin-bottom: 52px;
}

@media screen and (max-width: 580px) {
    .popup__field {
        width: 85%;
    }
}